@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --color-bg-primary: #000;
  --color-text-primary: #fff;
  --color-bg-secondary: #fff;
  --color-text-secondary: #000;
}
.light {
  --color-bg-primary: #fff;
  --color-text-primary: #000;
  --color-bg-secondary: #000;
  --color-text-secondary: #fff;
}


*,
* {
  margin: 0;
  padding: 0;
  cursor: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.cursor {
  position: fixed;
  pointer-events: none;
  background-color: #fff;
  color: #000;
  mix-blend-mode: difference;
  border-radius: 50%;
  transition: transform 300ms;
  transform: translate(-50%, -50%) scale(3);
  padding: 0.4rem;
}

.logo {
  width: 50px;
  height: 50px;
  background: url("/logo.svg") no-repeat center center;
  background-size: 150px;
}